# Catalog Service
CATALOG_DB_PORT=5432
CATALOG_DB_USER=catalog_user
CATALOG_DB_PASSWORD=catalog_pass
CATALOG_DB_NAME=catalog_db
CATALOG_DB_SSL_MODE=disable

CATALOG_GRPC_PORT=50053

AUTH_SERVICE_ADDR=auth-service:50051
FILE_SERVICE_ADDR=file-service:50052
PLAYLIST_SERVICE_ADDR=playlist-service:50054

# Auth Service
AUTH_DB_PORT=5432
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_NAME=auth_db
AUTH_DB_SSL_MODE=disable

AUTH_GRPC_PORT=50051
AUTH_JWT_SECRET=super-secret-key
AUTH_JWT_EXPIRATION=24h

FILE_SERVICE_ADDR=file-service:50052

# File Service
FILE_DB_PORT=5432
FILE_DB_USER=file_user
FILE_DB_PASSWORD=file_pass
FILE_DB_NAME=file_db
FILE_DB_SSL_MODE=disable

FILE_GRPC_PORT=50052
AUTH_SERVICE_ADDR=auth-service:50051

S3_ENDPOINT=minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=music-files
S3_USE_SSL=false

# Playlist Service
PLAYLIST_DB_PORT=5432
PLAYLIST_DB_USER=playlist_user
PLAYLIST_DB_PASSWORD=playlist_pass
PLAYLIST_DB_NAME=playlist_db

PLAYLIST_GRPC_PORT=50054
AUTH_SERVICE_ADDR=auth-service:50051
CATALOG_SERVICE_ADDR=catalog-service:50053

# Rule Engine
RULES_DB_PORT=5432
RULES_DB_USER=rules_user
RULES_DB_PASSWORD=rules_pass
RULES_DB_NAME=rules_db

RULES_GRPC_PORT=50055
AUTH_SERVICE_ADDR=auth-service:50051
CATALOG_SERVICE_ADDR=catalog-service:50053
PLAYLIST_SERVICE_ADDR=playlist-service:50054

# Api Gateway
GATEWAY_HTTP_PORT=8080
CATALOG_SERVICE_ADDR=catalog-service:50053
AUTH_SERVICE_ADDR=auth-service:50051
FILE_SERVICE_ADDR=file-service:50052
PLAYLIST_SERVICE_ADDR=playlist-service:50054
RULES_SERVICE_ADDR=rule-engine:50055
JWT_SECRET=super-secret-key